Repository hmcts/ccd-next-hearing-date-updater, pull requests merged in 2024-07, with the labels that each got.

#226 Befta-fw 9.0.2, ccd-test-definitions 7.22.2, gradle 8.7
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/next/hearing/date/updater/befta/ServiceBeftaRunner.java
Labels: ns:ccd, prd:ccd, rel:ccd-next-hearing-date-updater-pr-226

#227 CCD-5311 Fix CVE-2023-20873
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-next-hearing-date-updater-pr-227

#221 CCD-5181 : Handle null nextHearingDetails value
  src/integrationTest/java/uk/gov/hmcts/reform/next/hearing/date/updater/CcdCaseEventServiceIT.java
  src/main/java/uk/gov/hmcts/reform/next/hearing/date/updater/service/CcdCaseEventService.java
Labels: ns:ccd, prd:ccd, rel:ccd-next-hearing-date-updater-pr-221
